<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp | タスク管理アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="container">
        <h1 class="logofont"><%= link_to 'TaskApp', tasks_path %></h1>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <div class="container">
        <% date = Time.new %>
        <p class="copyright"><small>&#174; <%= date.year.to_s %> TaskApp All Rights Reserved.</small></p>
      </div>
    </footer>
  </body>
</html>
