<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp | タスク管理アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="flex">
          <h1 class="logofont item"><%= link_to 'TaskApp', tasks_path %></h1>
          <div class="btns item">
            <% if logged_in? %>
              <% if admin? %>
                <%= link_to "管理画面", admin_users_path %>
              <% end %>
              <%= link_to "プロフィール", user_path(current_user.id) %>
              <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
            <% else %>
              <%= link_to "新規登録", new_user_path %>
              <%= link_to "ログイン", new_session_path %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <div class="container">
        <% date = Time.new %>
        <p class="copyright"><small>&#174; <%= date.year.to_s %> TaskApp All Rights Reserved.</small></p>
      </div>
    </footer>
  </body>
</html>
